<div class="admin-container">
    <a href="/dashboard">&larr; Back</a>

    <div class="admin-title">
        <h2>Add New Post</h2>
    </div>

    <form action="/add_post" method="POST">

        <div class="input-group">
            <label for="title"><b>Title</b></label>
            <input type="text" placeholder="Post Title" name="title">
        </div>

        <div class="input-group">
            <label for="summary"><b>Summary (Optional)</b></label>
            <textarea name="summary" cols="100" rows="5"></textarea>
        </div>

        <div class="input-group">
            <label for="body"><b>Text</b></label>
            <textarea name="body" cols="100" rows="20"></textarea>
        </div>

        <div class="input-group">
            <label for="topic"><b>Topic (One, required)</b></label>
            <input type="text" placeholder="Topic" name="topic">
        </div>

        <div class="input-group">
            <label for="tags"><b>Tags (Multiple, optional)</b></label>
            <input type="text" placeholder="Tags" name="tags">
        </div>

        <input type="submit" value="Add" class="text-link">

    </form>
</div>