<div class="admin-signin-container admin-container">

    <h3>Sign In</h3>

    <form action="/admin" method="POST">

        <div class="input-group">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username">
        </div>
    
        <div class="input-group">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password">
        </div>
        
        <input type="submit" value="Login" class="btn">
    
    </form>

    <!-- <h3>Register</h3>

    <form action="/register" method="POST">

        <div class="input-group">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username">
        </div>
    
        <div class="input-group">
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password">
        </div>
        
        <input type="submit" value="Register" class="btn"> -->
    
    </form>

</div>

