<!-- Header -->
<header class="header" id="header">

    <nav class="navbar container">

        <a href="/">
            <h2 class="logo">Denki-Admin</h2>
        </a>
        <div class="menu" id="menu">
            <ul class="list">
                <li class="list-item">
                    <a href="/" class="list-link">Home</a>
                </li>
                <li class="list-item">
                    <a href="" class="list-link">Posts</a>
                </li>
                <li class="list-item">
                    <a href="" class="list-link">Artworks</a>
                </li>

                <li class="list-item">
                    <!-- Hide link when on larger screen -->
                    <a href="" class="list-link screen-lg-hidden">About</a> 
                </li>
            </ul>
        </div>

        <div class="list list-right">
            <button class="btn place-items-center" id="theme-toggle-btn">
                <i class="ri-sun-line sun-icon"></i>
                <i class="ri-moon-fill moon-icon"></i>
            </button>

            <button class="btn place-items-center" id="admin-logout-btn">
                <a href="/logout">Logout</a>
            </button>

            <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                <i class="ri-menu-3-line open-menu-icon"></i>
                <i class="ri-close-line close-menu-icon"></i>
            </button>

        </div>
    </nav>
</header>