<!-- Search -->
<div class="search-form-container container" id="search-form-container">

    <div class="form-container-inner">
        <form action="/search" method="GET" class="form">
            <input 
                type="text" 
                class="form-input"
                id="search-input"
                name="searchTerm" 
                placeholder="Search Site..."
            />

            <button class="btn form-btn" type="summit">
                <i class="ri-search-line"></i>
            </button>
    
            <button class="btn form-close-btn place-items-center" id="search-close-btn">
                <i class="ri-close-line"></i>
            </button>

        </form>

    </div>

    
</div>