@import "main.css";

.search-result-main-container{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
}

.search-result-container{
    margin-top: 3rem;
}

.search-result .blog-info{
    margin-bottom: 3rem;
}

.search-result-container h3{
    font-size: var(--font-size-lg);
}

.search-result .blog-title{
    font-size: var(--font-size-md);
    padding-left: 2rem;
}

.search-result .blog-title:hover{
    text-decoration: underline;
    text-decoration-thickness: .5rem;
    text-decoration-color: var(--hover-highlight-color);
    text-decoration-style: solid;
}